<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>3409510955-03lsc8kh38h5m0pe28b537lfg6ovtvu6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3409510955-03lsc8kh38h5m0pe28b537lfg6ovtvu6</string>
	<key>API_KEY</key>
	<string>AIzaSyD5vUfyEHotFFfFw8BeSfnkEKdILojAkr4</string>
	<key>GCM_SENDER_ID</key>
	<string>3409510955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>susu.iSports</string>
	<key>PROJECT_ID</key>
	<string>sportogether-7e6f4</string>
	<key>STORAGE_BUCKET</key>
	<string>sportogether-7e6f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3409510955:ios:3a9609d321e2a33c</string>
	<key>DATABASE_URL</key>
	<string>https://sportogether-7e6f4.firebaseio.com</string>
</dict>
</plist>